<script>
  // // Occurs after clicking a link.
  // document.getElementById('_pushState').addEventListener('hy-push-state-start', function() {
  //   console.log("push-state-start");
  // });
  // // Ready to swap out the content.
  // document.getElementById('_pushState').addEventListener('hy-push-state-ready', function() {
  //   console.log("push-state-ready");
  // });
  // // The content has been replaced.
  // document.getElementById('_pushState').addEventListener('hy-push-state-after', function() {
  //   console.log("push-state-after");
  // });

  // All have finished loading.
  document.getElementById('_pushState').addEventListener('hy-push-state-load', function() {
    var elem = document.querySelector("article > script");
    var gist = document.getElementsByClassName("gist")[0];
    if (elem != null && gist == null) {
      window.location.reload();
      console.log('hy-push-state-load');
    }
  });
</script>